h1 {
	font-family: Arimo;
	font-size: 50px;
}

#logo {
	width: 13%;
	padding-left: 5%; 
}
/*body {
	font-family: 'Mali', cursive;
	background-color: #e8dfdd;
	text-align: center;
}*/

.xyz {
	font-size: 50px
}